engineering bldg map genration test/*
aerial_map_generation/test_src/KU_orthogonal_map/*

engineering bldg map genration test/
engineering bldg map genration test/*
aerial_map_generation/test_src/KU_orthogonal_map/*

*.p4d
*.asv
*.png
.vscode/*
01_uav_images/*
02_map_images/*
Makefile

build/*